  
  
  /*/  -----------------------------------------------------  /*/
 /*/    -------  ||  STYLING FOR QUOTES LIST  ||  -------    /*/
/*/  -----------------------------------------------------  /*/

hr.dotted {
    border-top: 2px dotted #bbb;
    margin: .5rem 4rem;
  }

.quote__header {
    margin: 2rem;
    text-decoration: underline;
    color:rgb(84, 114, 25);
    font-size: 2rem;
}

.quote__heading {
    color:rgb(84, 114, 25);
    font-size: 1.5rem;
}

.quote__item {
    font-size: 1rem;
    padding: .25rem;
}

.quotes__list {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color:rgb(84, 114, 25);
}

.quotes__list h4 {
  font-size: 1.25rem;
}

.btn__quoteList {
  margin-top: .5rem;
  background-color: lightgray;
  border: 2px solid olivedrab;
  border-radius: 4px;
  padding: .40rem;
  font-weight: bolder;
}

/* HEADING FOR QUOTE LIST */
.heading__quoteList {
  color: olivedrab;
  margin: 5rem 2rem 2rem 1rem;
  font-size: 2rem;
  text-decoration: underline;
}


/* list items in quote list  */
.item__quoteList {
    padding-bottom: .35rem;
}

/* button.button__returnHome {
  margin: 0 0 5rem 0;
} */


/* -------------------   ||  BREAK  ||  ------------------- */






  /*/  -----------------------------------------------------  /*/
 /*/    -- ||  CONDITIONAL STYLING FOR QUOTES LIST  || --    /*/
/*/  -----------------------------------------------------  /*/


/* when request has been quoted a price  */
.quote__incomplete {
    margin-top: 1rem;
    border: 1px solid olivedrab;
    border-radius: 4px;
    padding: .5rem;
}
.quote__incompleteHeading {
  border: none;
}

/* when quoted price has been accepted */
.quote__accepted {         
  background-color: lightgoldenrodyellow;
  border: 1px solid olivedrab;
  border-radius: 4px;
}
.quote__acceptedHeading {
  border: none;
}

/* when quote work is in progress  */
.quote__started {
  background-color: rgb(204, 255, 204);
  color: rgb(96, 96, 197);
  border: 1px solid olivedrab;
  border-radius: 4px;
}
.quote__startedHeading {
  border: none;
}

/* when quote has been completed  */
.quote__completed {
  background-color: lightgrey;
  color: gray;
  border: 1px solid olivedrab;
  border-radius: 4px;
  padding: .5rem;

}
.quote__completedHeading {
  color: gray;

}

/* -------------------   ||  BREAK  ||  ------------------- */





  /*/  -----------------------------------------------------  /*/
 /*/    ------  ||  STYLING FOR QUOTE DETAILS  ||  ------    /*/
/*/  -----------------------------------------------------  /*/

/* QUOTE DETAILS STYLING */
.quote__details {
  display:flex;
  flex-direction: column;
  margin: 2rem 1rem;
  justify-content: center;
  border: 8px ridge olivedrab;
  border-radius: 8px;
  background-color: rgb(212, 229, 250);
  padding: 1rem;
  color: olivedrab;
}
h1.quote__header {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.button__jobStatus {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */ 
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}

/* button in quote details */
.quote__status {
  background-color: lightgray;
  border: 2px solid olivedrab;
  border-radius: 4px;
  padding: .20rem;
  margin: 1rem;
  font-weight: bold;
  color: rgb(58, 43, 136);
  width: 10rem;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .quote__details {
    margin: 5rem 10rem;
  }
  h1.quote__header {
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }
}