
hr.dotted {
    border-top: 2px dotted #bbb;
    margin: .5rem 4rem;
  }

.quote__header {
    margin: 2rem;
    text-decoration: underline;
    color:rgb(84, 114, 25);
    font-size: 2rem;
}

.quote__heading {
    color:rgb(84, 114, 25);
    font-size: 1.5rem;
}



.quote__details {
  display:flex;
  flex-direction: column;
  margin: 5rem 5rem;
  justify-content: center;
  border: 8px ridge olivedrab;
  border-radius: 8px;
  background-color: rgb(255, 232, 173, .50);
  padding: 1rem;
  color: olivedrab;
}

.quote__item {
    font-size: 1rem;
    padding: .25rem;
}

.quotes__list {
    margin-left: 2rem;
    color:rgb(84, 114, 25);
}

.quotes__list h4 {
  font-size: 1.25rem;
}

.btn__quoteList {
  margin-top: .5rem;
  background-color: lightgray;
  border: 2px solid olivedrab;
  border-radius: 4px;
  padding: .40rem;
  font-weight: bolder;
}

.heading__quoteList {
  color: olivedrab;
  margin: 2rem;
  font-size: 2rem;
  text-decoration: underline;
}


/* list items in quote list  */
.item__quoteList {
    padding-bottom: .35rem;
}


/* button in quote details */
.quote__status {
  background-color: lightgray;
  border: 2px solid olivedrab;
  border-radius: 4px;
  padding: .40rem;
  margin: 2rem 0;
  font-weight: bolder;
  color: rgb(58, 43, 136);
  width: 10rem;
  text-decoration: underline;
}


/* when request has been quoted a price  */
.quote__incomplete {
    margin-top: 1rem;
    border: 1px solid olivedrab;
    border-radius: 4px;
    padding: .5rem;
}

.quote__incompleteHeading {
  border: none;
}


/* when quoted price has been accepted */
.quote__accepted {         
  background-color: lightgoldenrodyellow;
  border: 1px solid olivedrab;
  border-radius: 4px;
}

.quote__acceptedHeading {
  border: none;
}

/* when quote work is in progress  */
.quote__started {
  background-color: rgb(204, 255, 204);
  color: rgb(96, 96, 197);
  border: 1px solid olivedrab;
  border-radius: 4px;
}

.quote__startedHeading {
  border: none;
}


/* when quote has been completed  */
.quote__completed {
  background-color: lightgrey;
  color: gray;
  border: 1px solid olivedrab;
  border-radius: 4px;
  padding: .5rem;

}
.quote__completedHeading {
  color: gray;

}