
  /* //  ------------------------  // */
 /* //     REQUEST LIST STYLING   // */
/* //  ------------------------  // */

hr.dotted {
  border-top: 2px dotted #bbb;
  margin: 1.5rem 1rem 1rem 1rem;
  border: 1px solid olivedrab;
}
.requests__header {
  color: olivedrab;
  margin: 4rem auto 1rem .5rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

.requests__list h4 {
  color: rgb(84, 114, 25);
  font-size: 1.2rem;
}
  
.requests__list {
  color:rgb(84, 114, 25);
  margin-left: 1.75rem;
  margin-top: 2rem;
}

.item__requestList {
  padding-bottom: .50rem;
}

.delete__request {
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: lightgray;
  border: 2px solid olivedrab;
  border-radius: 4px;
  padding: .35rem;
  font-weight: bolder;
  color: rgb(58, 43, 136);
  text-decoration: none;
}

button.button__profileBack {
  margin: 1rem auto 2rem 1rem;
  padding: .1rem;
  width: 8rem;
}

/* ????? */
.home__heading {
  color:rgb(118, 145, 65);
  font-style: italic;
  font-family:Arial, Helvetica, sans-serif;
}


  /* //  ------------------------  // */
 /* //    ----    MODAL   ----    // */
/* //  ------------------------  // */

.mymodal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(84, 114, 25);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: .5rem;
}

.myoverlay {
  position: fixed;
  top: 25%;
  left: 5%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 90%;
  height: 50%;
  border: 8px ridge olivedrab;
  border-radius: 4px;
}

.heading__modal {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: .5rem;
}

.input__modal {
  border: 2px solid olivedrab;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.buttons__modal {
  display: flex;
  flex-direction: row;
}
.submit__quote, .cancel__quote {
  border: 2px solid olivedrab;
  border-radius: 4px;
  color:rgb(84, 114, 25);
  background-color: rgb(197, 221, 252);
  font-weight: bold;
  font-size: .5rem;
  margin: .5rem;
  width: 4rem;
  height: 2rem;
}

.ReactModal__Overlay {
opacity: 0;
transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
opacity: 1;
}

.ReactModal__Overlay--before-close {
opacity: 0;
}


  /* //  ------------------------  // */
 /* //    REQUEST FORM STYLING    // */
/* //  ------------------------  // */

.requestQuoteForm {
display:flex;
flex-direction: column;
margin: 5rem 0;
justify-content: center;
border: 6px ridge olivedrab;
border-radius: 8px;
background-color: rgb(195, 216, 245);
color: olivedrab;
font-weight: bolder;
font-size: .65rem;
}

.requestForm h2 {
text-decoration: underline;
padding-left: .5rem;
}

button.btn.btn-primary {
margin-left: 25%;
margin-right: auto;
margin-top: .5rem;
margin-bottom: .5rem;
color: olivedrab;
background-color: rgb(209, 209, 209);
font-weight: bolder;
padding: .5rem;
border: 2px solid olivedrab;
border-radius: 4px;
}


@media only screen and (min-width: 750px){

   /* //  ------------------------  // */
  /* //     REQUEST LIST STYLING   // */
 /* //  ------------------------  // */

  .requests__header {
    color: olivedrab;
    margin: 5rem auto 2rem 1rem;
    font-size: 2rem;
  }

    
  /* ????? */
  .home__heading {
    color:rgb(118, 145, 65);
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
  }


    /* //  ------------------------  // */
   /* //    ----    MODAL   ----    // */
  /* //  ------------------------  // */

  .myoverlay {
    top: 20%;
    left: 15%;
    width: 68%;
    height: 60%;
  }

  .submit__quote {
    margin-right: 8rem;
  }


    /* //  ------------------------  // */
   /* //    REQUEST FORM STYLING    // */
  /* //  ------------------------  // */

  .requestQuoteForm {
    margin: 10rem 5rem;
    padding: 3rem;
  }

  button.btn.btn-primary {
    margin-left: 35%;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: -1rem;
    color: olivedrab;
  }
}


@media only screen and (min-width: 1000px){

   /* //  ------------------------  // */
  /* //     REQUEST LIST STYLING   // */
 /* //  ------------------------  // */


  /* ????? */
  .home__heading {
    color:rgb(118, 145, 65);
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
  }


    /* //  ------------------------  // */
   /* //    ----    MODAL   ----    // */
  /* //  ------------------------  // */

  .mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(84, 114, 25);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }



    /* //  ------------------------  // */
   /* //    REQUEST FORM STYLING    // */
  /* //  ------------------------  // */

}

