    .react-confirm-alert-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid olivedrab;
        border-radius: 8px;
        width: 15rem;
        position: fixed;
        top: 40%;
        left: 15%;
        padding: 2rem .35rem 1rem 1rem;
        background-color: rgba(211, 211, 211, 0.88);
    }
    
    .react-confirm-alert-button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: .5rem 1rem .5rem 1rem;
        padding: .25rem;
    }
    
    .react-confirm-alert-button-group button {
        padding: .35rem 1rem;
        margin: .5rem 2rem .25rem 2rem;
        border: 1px solid olivedrab;
        border-radius: 4px;
    }
    

@media only screen and (min-width: 750px) {
    .react-confirm-alert-body {
        width: 20rem;
        position: fixed;
        top: 40%;
        left: 15%;
        padding: 2rem .35rem 1rem 1rem;
    }
    
    .react-confirm-alert-button-group {
        margin: .5rem 1rem .5rem 1rem;
        padding: .25rem;
    }
    
    .react-confirm-alert-button-group button {
        padding: .35rem 1rem;
        margin: .5rem 2rem .25rem 2rem;
    }
}

@media only screen and (min-width: 1000px) {
    .react-confirm-alert-body {
        width: 25rem;
        position: fixed;
        top: 30%;
        left: 15%;
        padding: 3rem .35rem 3rem 1rem;
    }
    
    .react-confirm-alert-button-group {
        margin: .5rem 1rem .5rem 1rem;
        padding: .25rem;
    }
    
    .react-confirm-alert-button-group button {
        padding: .75rem 1.5rem;
        margin: 1.5rem 2rem .25rem 2rem;
    }
}

@media only screen and (min-width: 1300px) {
    .react-confirm-alert-body {
        width: 25rem;
        position: fixed;
        top: 28%;
        left: 13%;
        padding: 3rem .35rem 3rem 1rem;
    }
    
    .react-confirm-alert-button-group {
        margin: 1.5rem 1rem .5rem 1rem;
        padding: .25rem;
    }
    
    .react-confirm-alert-button-group button {
        padding: .35rem 1rem;
        margin: .5rem 2rem .25rem 2rem;
    }
}

@media only screen and (min-width: 1900px) {
    .react-confirm-alert-body {
        width: 25rem;
        position: fixed;
        top: 27%;
        left: 8%;
        padding: 3rem .35rem 3rem 1rem;
    }
    
    .react-confirm-alert-button-group {
        margin: 1.5rem 1rem .5rem 1rem;
        padding: .25rem;
    }
    
    .react-confirm-alert-button-group button {
        padding: .35rem 1rem;
        margin: .5rem 2rem .25rem 2rem;
    }
}

