.heading__about {
    margin: 5rem auto 1rem 1rem;
}

.image__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image__1 {
    margin-right: 75%;
}

.image__2 {
    margin-left: 75%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

